<fieldset class="checkboxes">
  <table class="checkboxes">
    <tr class="checkboxes">
      <% @i = 1 %>
      <% @child_topics.each do |child_topic| %>
        <td>
        <label class="checkbox inline">
          <% @type = "" %>
          <% case object.class.to_s %>
            <% when "LegalBrief" %>
            <%   @type = "legal_brief" %>
            <% when "Case" %>
            <%   @type = "case" %>
            <% when "LegalResource" %>
            <%   @type = "legal_resource" %>
          <% end %>
          <%= check_box_tag @type + "[child_topic_ids][]", child_topic.id, 
              object.child_topics.include?(child_topic) %>
          <%= child_topic.description %>
        </label>
        </td>
        <%= if( @i % 2 == 0 ) then raw "</tr><tr class=\"checkboxes\">" end %>
        <% @i += 1 %>
      <% end %>
    </tr>
  </table>
</fieldset>
