<%= provide :title, "About The Advisory Committee" %>
<%= render 'shared/empty_menu' %>
<section class="container">
<h3>About The Advisory Committee</h3><br />

<div class="main">
  Blah blah blah
</div>

</section>

