<%= provide :title, "The Advisory Committee" %>
<%= render 'shared/empty_menu' %>
<section class="container">
<h3>The Advisory Committee</h3><br />

<div class="wide">
  <h3>Co-Directors</h3>
  <br />
  <p>Jason Pobjoy, University of Cambridge</p>
  <p>Syd Bolton, Coram Children's Legal Centre</p>
  <br />
  <h3>Advisory Committee Members</h3>
  <br />
  <p>Judge Catriona Jarvis, Upper Tribunal</p>
  <p>professor James Hathaway, University of Michigan</p>
  <p>Associate Professor John Tobin, University of Melbourne</p>
  <p>John Willshire Carrera  Managing Director, Harvard Immigration and Refugee Clinic</p>
  <p>Justice Tony North, Federal Court of Australia</p>
  <p>Associate Professor Michelle Foster, University of Melbourne</p>
  <p>Professor Guglielmo Verdirame, Kings College; 20 Essex Street Chambers</p>
  <p>Rodger Haines QC  President, Human Rights Review Tribunal</p>
  <p>Professor Carolyn Hamilton, Coram Children’s Legal Centre</p>



</div>

</section>

