<%= provide :title, "ChildRef" %>
<section class="row">
<%= render 'shared/empty_menu' %>
  <div class="basic span9">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
<h3>ChildRef</h3><br />

<p>
The core objective of the ChildRef website is to promote greater recourse to
international standards on children’s rights in decisions involving refugee
children. In particular, the ChildRef website will promote the development of a
progressive, age-sensitive jurisprudence on the interpretation of the refugee
definition. At present, particularly in the United Kingdom, there is a fast
evolving jurisprudence which responds to the specific vulnerabilities of
children seeking protection outside their home country. The ChildRef website
will provide a vehicle for practitioners and advocates to access a
comprehensive suite of primary legal material to assist in the continued
development of this jurisprudence.
</p>

<p>
To provide an example: A practitioner in the United Kingdom representing a
child that feared that she would be subject to domestic violence if returned to
her home country will be able to conduct a single search to identify cases that
have addressed the same issue in the United Kingdom, as well as Australia,
Canada, New Zealand and the United States. The cases will be complemented by a
comprehensive suite of legal documents (for example, UN Committee on the Rights
of the Child General Comments, UNHCR Executive Committee Conclusions, domestic
guidelines) that also address that issue.
</p>

</div>
</section>

