<%= provide :title, "About the Princess Diana Fund" %>
<%= render 'shared/empty_menu' %>
<section class="container">
<h3>About the Princess Diana Fund</h3><br />

<div class="main">
  Blah blah blah
</div>

</section>

