<%= provide :title, "The Princess Diana Fund" %>
<section class="row">
<%= render 'shared/empty_menu' %>
  <div class="basic span9">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
<h3>The Princess Diana Fund</h3><br />

<div class="wide">
  Blah blah blah
</div>

</section>

