<%= javascript_include_tag :fade %>
&nbsp;
<div class="row">
  <div class="span6 home">
    <p> Welcome to the ChildRef website... </p>
  </div>
  <div class="slideshow span6">
    <%= image_tag("home/bw/#{@file}", :class => "a") %>
    <%= image_tag("home/colour/#{@file}", :class => "b") %>
  </div>
</div>
<div class="row">
  <div class="span6 home">
    <p> Quotes </p>
  </div>
  <div class="span6 home">
    <p> A message from our patron. </p>
  </div>
</div>

