<li>
  <%= issue.description %>
  <%# if current_user.admin? %>
  | <%= link_to "delete", issue, :method => :delete, :confirm => "You sure?", 
                                 :title => "Delete #{issue.description}" %>
  <%# end %>
</li>


