<fieldset class="checkboxes">
  <table class="checkboxes">
    <tr class="checkboxes">
      <% @i = 1 %>
      <% @child_topics.each do |child_topic| %>
        <td>
        <label class="checkbox inline aligned">
          <%= check_box_tag "case[child_topic_ids][]", child_topic.id, 
              object.child_topics.include?(child_topic) %>
          <%= child_topic.description %>
        </td>
        <%= if( @i % 3 == 0 ) then raw "</tr><tr class=\"checkboxes\">" end %>
        <% @i += 1 %>
        </label>
      <% end %>
    </tr>
  </table>
</fieldset>
