<fieldset class="checkboxes">
  <table class="checkboxes">
    <tr class="checkboxes">
      <% @i = 1 %>
      <% for issue in Issue.find(:all, :order => 'description' ) %>
        <td>
        <label class="checkbox inline aligned">
          <%= check_box_tag "case[issue_ids][]", issue.id, false %>
          <%= issue.description %>
        </td>
        <%= if( @i % 3 == 0 ) then raw "</tr><tr class=\"checkboxes\">" end %>
        <% @i += 1 %>
        </label>
      <% end %>
    </tr>
  </table>
</fieldset>
