<fieldset class="checkboxes">
  <table class="checkboxes">
    <tr class="checkboxes">
      <% @i = 1 %>
      <% @keywords.each do |keyword| %>
        <td>
        <label class="checkbox inline aligned">
          <%= check_box_tag "case[keyword_ids][]", keyword.id, 
              object.keywords.include?(keyword) %>
          <%= keyword.description %>
        </td>
        <%= if( @i % 3 == 0 ) then raw "</tr><tr class=\"checkboxes\">" end %>
        <% @i += 1 %>
        </label>
      <% end %>
    </tr>
  </table>
</fieldset>
