<%= provide(:title, "List of all cases") %>
<h3>List of all cases</h3><br />
<%= render 'shared/sidebar' %>

<div class="main">
  <table class="table">
    <%# cannot have partial called 'case' to avoid confusion with case statements %>
    <% @cases.each do |@case| %>
      <%= render :partial => "cirl_case_summary", :case => @case %>
    <% end %>
  </table>
</div>
