<%= provide( :title, 'Manage Users') %>
<section class="row">
<%= render 'shared/admin_menu' %>
<div class="span4 basic">
<h3>Manage Users</h3><br />
<table class="table">
 <%= render @users %>
</table>
</div>
<div class="span4 basic">
Use this page to edit and delete users in the database.
</div>
</section>
