<%= provide :title, @user.name %>
<section class="row">
<%= render 'shared/empty_menu' %>
  <div class="main span9">
    <h3>Hello</h3><br />
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  </div>
</section>


