<% if @object != nil %>
  <% if @object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@object.errors.count, "error") %>
        prohibited this <%= get_object_name(@object.type.to_s) %> from being saved:</h2>
      <br />
      <p>There were problems with the following fields:</p>
      <ul>
        <% @object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

