<% if object != nil %>
  <% if object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(object.errors.count, "error") %>
        prohibited this action from being taken:</h2>
      <br />
      <ul>
        <%# refactor to make errors a bit prettier %>
        <% case object.type.to_s %>
        <%# Jurisdiction specific errors %>
          <% when "Jurisdiction" %>
               <% object.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>

          <% else 
               object.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

