<% if object != nil %>
  <% if object.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
      <%= pluralize(object.errors.count, "error") %>
      <br />
      <ul>
        <%# refactor to make errors a bit prettier %>
        <% case object.class.to_s %>
        <%# Jurisdiction specific errors %>
          <% when "Jurisdiction" %>
               <% object.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>

          <% else 
               object.errors.full_messages.each do |msg| %>
                 <li><%= msg %></li>
            <% end %>
          <% end %>
      </ul>
      </div>
    </div>
  <% end %>
<% end %>

