<div class="leftmenu span3">
<ul>
  <li><%= link_to "Basic Search", new_legal_resource_search_path %></li>
  <li><%= link_to "Advanced Search", new_legal_resource_search_path(advanced: "advanced") %></li>
</ul>
</div>
