<tr>
  <td>
    <%= court.name %>
    <%= link_to "edit", edit_court_path(court.id), class: "tip"  %>
    <span class="tip"> | </span>
    <%= link_to "delete", court, method: :delete, data: { confirm: "You sure?" }, class: "tip"  %>
  </td>
</tr>



