<tr>
  <td>
    <% jurisdiction = Jurisdiction.find_by_id(court.jurisdiction_id) %>
    <%= raw "<span class=\"court_edit\" id=\"#{court.id} #{jurisdiction.id}\">#{court.name}" %></span>
    <span class="tip">(click to edit)</span>
  </td>
</tr>



