<li>
  <%= court.name %>
  (<%= Jurisdiction.find_by_id(court.jurisdiction_id).name %>)
  <%# if current_user.admin? %>
  | <%= link_to "delete", court,
        :method => :delete, :confirm => "You sure?", 
        :title => "Delete #{court.name}" %>
  <%# end %>
</li>
