<tr>
  <td>
    <% court.name %>
    <%= raw "<span class=\"court_edit\" id=\"#{court.id} #{court.jurisdiction_id}\">#{court.name}" %></span>
    <span class="tip">(click to edit)</span>
  </td>
</tr>



