<table class="total" summary="Add New Case">
  <tr>
    <td class = "main">
      <h1>
        Add a new case
      </h1>
    </td>
    <td class = "sidebar round">
      Add a new case<br />
      Manage jurisdictions<br />
      Manage courts<br />
    </td>
  </tr>
</table>

