<fieldset class="checkboxes">
  <table class="checkboxes">
    <tr class="checkboxes">
      <% @i = 1 %>
      <% @process_topics.each do |process_topic| %>
        <td>
          <% @type = "" %>
          <% case object.class.to_s %>
            <% when "LegalBrief" %>
            <%   @type = "legal_brief" %>
            <% when "Case" %>
            <%   @type = "case" %>
            <% when "LegalResource" %>
            <%   @type = "legal_resource" %>
          <% end %>
        <label class="checkbox inline">
          <%= check_box_tag @type + "[process_topic_ids][]", process_topic.id, 
              object.process_topics.include?(process_topic) %>
          <%= process_topic.description %>
        </label>
        </td>
        <%= if( @i % 2 == 0 ) then raw "</tr><tr class=\"checkboxes\">" end %>
        <% @i += 1 %>
      <% end %>
    </tr>
  </table>
</fieldset>
