<tr>
  <td>
    <%= keyword.description %>
    <%= link_to "edit", edit_keyword_path(keyword.id), class: "tip" %>
    <span class="tip"> | </span>
    <%= link_to "delete", keyword, method: :delete, data: { confirm: "You sure?" }, class: "tip" %>
</td>
</tr>
