// Place all the styles related to the cases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.case_claimant {
  font-style: italic;
  font-weight: bold;
}

span.case_court {
  font-weight: bold;
  float: right;
}

span.case_decision_date {
  font-weight: bold;
  float: right;
}

span.case_other_attribute {
  font-weight: bold;
}

input#case_claimant {
  width: 95%;
}

input#case_respondent {
  width: 95%;
}

select#case_year {
  width: 70px;
}

select#case_month {
  width: 70px;
}

select#case_day {
  width: 70px;
}

.date_field {
  width: 70px;
}

fieldset.checkboxes {
  width: 95%;
  padding: 10px;
  font-size: 13px;
  margin-bottom: 10px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


table.checkboxes {
  border: 0px;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0px;
  padding: 0px;
  line-height: 8px;
  background-color: transparent;

  tbody tr:nth-child(even) td, tbody tr:nth-child(even) th {
    background-color: transparent;
  }
}

input.search {
  width: 85%;
}

input.search_button {
}


