.container {
  width: 1000px;
}

body {
  background: #333;
  font-family: Geneva;
  font-size: 8pt;
}

header#main {
  padding-top: 20px;
  padding-bottom: 10px;
}

header#main img {
  padding: 1em; 
  background: #fff;
}

header#second {
  white-space: nowrap;
}

header#second ul {
  margin: 0;
  padding: 0;
}

header#second ul li {
  list-style-type: none;
  display: inline-block;
}

header#second ul li.front_tab a {
  background: #fff;
}

header#second ul li a {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 150px;
  color: #000;
  background: #888;
  font-size: 120%;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

header#second ul li a:visited {
  color: #000;
}

header#second ul li a:hover {
  text-decoration: none;
}

section {
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 10px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* Links */

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #000;
}

a.tabs {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 130px;
  color: #000;
  background: blue;
  font-size: 150%;
  padding: 20px;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 10px;
}

nav ul li a:visited {
  color: #000;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Round corners */

.almostround {
  -moz-border-radius: 0 10px 10px 10px;
  -webkit-border-radius: 0 10px 10px 10px;
  border-radius: 0 10px 10px 10px;
}

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Sidebar */

div.main {
  width: 70%;
  padding: 1em;
}

div.sidebar {
  float: right;
  margin-top: 80px;
  width: 30%;
  padding: 1em;
  background: #999;
}

div.sidebar ul li {
  list-style-type: none;
}

/* Slideshow for Homepage */

.slideshow {  
  padding: 0;  
  margin:  0;  
  height: 500px;
  position: relative;
} 
                 
.slideshow img.a {  
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.slideshow img.b {
  position: absolute;
  left: 0;
  top: 0;
}

/* Forms */

div.field, div.actions {
  margin-bottom: 10px;
}

/* Tidy list for managing jurisdictions, courts etc */

ul.tidylist {
  margin-top: 1em;
}

.tidylist li {
  list-style: none;
}

/* Error messages */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12 px;
  list-style: square;
}




