@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

$header-background: #333;
$menu-background: #222;
$background-color: #000;
$main-height: 1000px;
$margin-left: 80px;
$error-color: red;
$link-color: #bbb;

body {
  background-color: $background-color;
  font-size: 8pt;
}

header#main {
  padding-top: 30px;
  padding-bottom: 25px;
  background: $header-background;
  width: 100%;

  img {
    padding: 1em; 
    background: #fff;
  }

  div {
    margin-left: $margin-left;
  }

  span a {
      margin-left: $margin-left;
      background: $header-background;
      font-size: 300%;
      color: #fff; 
      text-decoration: none;
  }
}

// For menubar

header#second {
  background: $menu-background;

  ul {
    margin-left: $margin-left;
    margin-bottom: 0;
    padding: 0;

    li {
      list-style-type: none;
      display: inline-block;
    }

    li.front_tab a {
      color: $link-color;
    }

    a {
      margin: 0;
      display: block;
      text-align: center;
      color: $link-color;
      font-size: 120%;
      padding: 10px;

      &:visited {
        color: $link-color;
      }

      &:hover {
        text-decoration: none;
        background: #777;
      }

    }
  }
}

/* Footer */

footer {
  text-align: center;
  margin-top: 0;
  clear: both;

  nav {
    float: none;
    background-color: $menu-background;
    padding: 0 0.7em;
    white-space: nowrap;

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
        display: inline-block;
        padding: 0.2em 1em;

        a {
          padding: 0px;
          color: #fff;

          &:visited {
            color: #fff;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

/* Links */

a {
  color: #000;
  text-decoration: none;

  &:hover {
    color: #000;
    text-decoration: underline;
  }

  &:visited {
    color: #000;
  }
}

/* Navigation */

nav {
  float: right;
  margin-right: 30px;
  background-color: $header-background;
  padding: 0 0.7em;
  white-space: nowrap;

  ul {
    margin: 0;
    padding: 0;
    color: #fff;

    li {
      list-style-type: none;
      display: inline-block;
      padding: 0.2em 0.5em;
      font-size: 120%;

      a {
        color: #fff;
        padding: 0px;

        &:visited {
          color: #fff;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* Round corners */

.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

section {
  width: 1200px;
  background: #fff;
  height: $main-height;
}

.container {
  float: left;
  padding: 20px;
}

/* Left Menu */

div.leftmenu {
  float: left;
  width: 180px;
  height: 980px;
  background: $background-color;
  margin: 0;
  padding-right: 20px;
  padding-top: 20px;
  
  ul {
    text-align: right;
    list-style-type: none;

    a {
      color: $link-color;
    }
  }
}

div.main {
  float: left;
  width: 30%;
  margin-right: 20px;
}

/* Right Sidebar */

div.searchresults {
  float: left;
  width: 60%;
}

div.sidebar {
  float: left;
  width: 30%;
  // padding: 1em;
  // background: #999;

  ul li {
    list-style-type: none;
  }
}


/* Forms */

div.field, div.actions {
  margin-bottom: 10px;
}


/* Error messages */

.field_with_errors {
  margin-top: 10px;
  padding: 5px 5px 5px 5px;
  background-color: $error-color;
  display: table;

  label {
    color: #fff;
  }
}

#error_explanation {
  width: 400px;
  border: 2px solid $error-color;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
  }

  p {
    color: #333;
    margin-bottom: 0;
    padding: 5px 5px 5px 5px;
  }

  ul li {
    font-size: 12 px;
    list-style: square;
  }
}

.tip {
  color: #888;
  font-style: italic;
  padding-left: 5px;

  a {
    color: #888;
  }

}

/* Error handling */

span.inplace_error {
  padding: 0px;
  color: $error_color;
  display: none;
}

div.inplace_buttons {
  padding-top: 10px;
  float: right;
}






