@import "bootstrap";
$header-background: #333;
$menu-background: #222;
$background-color: #000;
$main-height: 1000px;
$margin-left: 0px;
$error-color: red;
$link-color: #bbb;


/* universal */

html {
  overflow-y: scroll;
  height: $main-height;
}

body {
  padding-top: 140px;
  height: $main-height;
  font-size: 8pt;
}

section {
  height: $main-height;
}

textarea {
  resize: vertical;
}

div.home {
  padding-top: 30px;
  padding-left: 30px;
  min-height: 300px;
}

header#main {
  padding-top: 30px;
  padding-bottom: 15px;
  padding-left: 45px;
  background: $header-background;

  img {
    padding: 1em; 
    background: #fff;
  }

  p {
    margin-top: 5px;
    color: #fff;
    font-size: 110%;
  }

  span.big a {
      margin-left: $margin-left;
      background: $header-background;
      font-size: 300%;
      color: #fff; 
      text-decoration: none;
  }

}

// For menubar

div.navbar-inner {
  background: $menu-background;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 0;
  clear: both;

  nav {
    float: none;
    background-color: $menu-background;
    padding: 0 0.7em;
    white-space: nowrap;

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
        display: inline-block;
        padding: 0.2em 1em;

        a {
          padding: 0px;
          color: #fff;

          &:visited {
            color: #fff;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

/* Links */

a {
  color: #000;
  text-decoration: none;

  &:hover {
    color: #000;
    text-decoration: underline;
  }

  &:visited {
    color: #000;
  }
}

/* Navigation */

nav {
  float: right;
  margin-right: 30px;
  background-color: $header-background;
  padding: 0 0.7em;
  white-space: nowrap;

  ul {
    margin: 0;
    padding: 0;
    color: #fff;

    li {
      list-style-type: none;
      display: inline-block;
      padding: 0.2em 0.5em;
      font-size: 120%;

      a {
        color: #fff;
        padding: 0px;

        &:visited {
          color: #fff;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* Round corners */

.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

section {
  background: #fff;
}

/* Left Menu */

div.leftmenu {
  background: $background-color;
  height: 99%;
  margin: 0;
  padding-right: 20px;
  padding-top: 20px;
  color: #ddd;
  
  ul {
    text-align: right;
    list-style-type: none;

    a {
      color: $link-color;
    }
  }
}

div.basic {
  margin-top: 20px;
  margin-right: 20px;
  height: 99%;
  overflow: auto;
}

div.wide {
  float: left;
  width: 70%;
  margin-right: 20px;
}

div.searchresults {
  float: left;
  width: 60%;
}

/* Forms */

div.field, div.actions {
  margin-bottom: 10px;
}

/* Error messages */

#error_explanation {
  color: #f00;
  ul {
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


.tip {
  color: #888;
  font-style: italic;
  padding-left: 5px;

  &:visited {
    color: #888;
  }

  &:hover {
    text-decoration: none;
    color: #888;
  }
}

a.white {
  color: white;
}

span.keywordRecommended {
  color: green;
}

div.fulltext {
  overflow: auto;
  border: solid 1px #000000;
  background: #ffffff;
  padding: 4px;
  width: 90%;
  height: 400px;
}






