<tr>
  <td>
  <%= country_origin.name %>
  <span class="tip">
  <%= link_to "delete", country_origin,
        :method => :delete, :confirm => "You sure?", 
        :title => "Delete #{country_origin.name}",
        class: "tip" %>
  </span>
  </td>
</tr>


